:root {
    --gradient: linear-gradient(180deg, #ffffff, #f5f5f5, #e0e0e0, #bdbdbd);
}

/* Reset for padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about_me, .education {
    flex-direction: column;
  }

  .about_me .heading,
  .about_me .timeline,
  .education .heading,
  .education .content {
    flex: 1 1 100%;
  }

  .project-box {
    width: 90%;
  }
}

/* General styles */
body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
  background-color: #f9f9f9;
}

/* Container for all content */
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 16px;
  background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    position: sticky;
  top: 0;
    z-index: 1000;
  width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--gradient);
    padding: 20px;
    border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

header:hover {
  background: var(--gradient);
}

header h1 {
    font-size: 2rem;
  color: #333;
  transition: color 0.3s;
}

header h1:hover {
  color: purple;
}

header .button, .button {
    display: flex;
    gap: 10px;
}

header .button button, .button button {
  background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header .button button:hover, .button button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Name section styles */
.name h1 {
    font-size: 2rem;
    color: #333;
}

.name {
    font-size: 1.1rem;
    color: #555;
}

/* Flexbox layout for about_me and education containers */
.about_me, .education {
    display: flex;
  margin: 10px 0;
    background: var(--gradient);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about_me .heading, .education .heading {
  flex: 0 0 30%;
    padding: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.about_me .timeline, .education .content {
  flex: 0 0 70%;
  text-align: center;
}

.timeline img, .project-image {
  width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Projects Section */
.projects {
    text-align: center;
  margin: 10px 0;
    background: var(--gradient);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-box {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-box:hover {
  transform: translateY(-5px);
}

.project-description {
  margin-top: 10px;
  font-size: 1em;
}

.project-buttons, .publication-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  text-decoration: none;
  font-size: small;
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
}


/* Publications Section */
.publications {
    text-align: left;
    display: flex;
  margin: 10px 0;
  background: var(--gradient);
    padding: 16px;
    border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publications .heading {
  flex: 0 0 30%;
  padding-right: 10px;
    font-weight: bold;
  color: #333;
  text-align: left;
}

.publications .content {
  flex: 1;
    display: flex;
  flex-direction: column;
  gap: 10px;
}

.publication-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  padding: 16px;
  transition: transform 0.3s;
}

.publication-box:hover {
  transform: scale(1.02);
}

.publication_title {
  font-size: 0.9rem;
  line-height: 1.4;
}

/* Contact Section */
.contact {
  display: flex;
  margin: 20px 0;
  background: var(--gradient);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact .heading {
  flex: 0 0 30%;
  padding-right: 10px;
    font-weight: bold;
  color: #333;
}

.contact .content {
  flex: 1;
}

.contact h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  gap: 20px;
}

.contact-icon {
  transition: transform 0.3s;
}

.contact-icon img {
  width: 40px;
  height: 40px;
}

.contact-icon:hover {
  transform: scale(1.1);
}

/* Copyright Section */
.copyright {
    text-align: center;
  margin: 10px 0;
  background: var(--gradient);
    padding: 16px;
    border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
